/***************TAG SELECTORS***************/

body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: silver;
  border-width: 5px;

  width: 5%;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

/*img:hover {
  background-color: green;
}
*/

/* img {
  height: 280px;
} */


/***************CLASS SELECTORS***************/

.photo-background {
  background-color: none;
}


/***************ID SELECTORS***************/

#heading {
  color: blue;
}

#big-font {
  font-size: 200px;
}
